[submodule ".vim/pack/b/opt/codex.im"]
	path = pack/b/opt/codex.vim
	url = https://github.com/mikoto2000/codex.vim
[submodule ".vim/pack/b/start/sonictemplate-vim"]
	path = pack/b/start/sonictemplate-vim
	url = https://github.com/mattn/sonictemplate-vim
[submodule ".vim/pack/b/opt/vim-singleton"]
	path = pack/b/opt/vim-singleton
	url = https://github.com/thinca/vim-singleton
[submodule ".vim/pack/b/start/restart.vim"]
	path = pack/b/start/restart.vim
	url = https://github.com/tyru/restart.vim
[submodule ".vim/pack/golang/opt/vim-go-extra"]
	path = pack/golang/opt/vim-go-extra
	url = https://github.com/vim-jp/vim-go-extra
[submodule ".vim/pack/b/opt/buffer_selector.vim"]
	path = pack/b/opt/buffer_selector.vim
	url = https://github.com/mikoto2000/buffer_selector.vim
[submodule ".vim/pack/b/opt/file_selector.vim"]
	path = pack/b/opt/file_selector.vim
	url = https://github.com/mikoto2000/file_selector.vim
[submodule ".vim/pack/b/opt/outline.vim"]
	path = pack/b/opt/outline.vim
	url = https://github.com/mikoto2000/outline.vim
[submodule ".vim/pack/c/opt/c_previewer.vim"]
	path = pack/c/opt/c_previewer.vim
	url = https://github.com/mikoto2000/c_previewer.vim
[submodule ".vim/pack/c/opt/hex_edit.vim"]
	path = pack/c/opt/hex_edit.vim
	url = https://github.com/mikoto2000/hex_edit.vim
[submodule ".vim/pack/b/opt/ctags_selector.vim"]
	path = pack/b/opt/ctags_selector.vim
	url = https://github.com/mikoto2000/ctags_selector.vim
[submodule ".vim/pack/b/start/file_explorer.vim"]
	path = pack/b/start/file_explorer.vim
	url = https://github.com/mikoto2000/file_explorer.vim
[submodule ".vim/pack/html/opt/emmet-vim"]
	path = pack/html/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/pack/lsp/opt/vim-lsp"]
	path = pack/lsp/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/pack/lsp/opt/vim-lsp-settings"]
	path = pack/lsp/opt/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "pack/b/opt/oldfiles_selector.vim"]
	path = pack/b/opt/oldfiles_selector.vim
	url = https://github.com/mikoto2000/oldfiles_selector.vim.git
[submodule "pack/b/start/vim-ambiwidth"]
	path = pack/b/start/vim-ambiwidth
	url = https://github.com/rbtnn/vim-ambiwidth.git
[submodule "pack/b/start/tiny-snippet.vim"]
	path = pack/b/start/tiny-snippet.vim
	url = https://github.com/mikoto2000/tiny-snippet.vim
[submodule "pack/b/opt/vim-suda"]
	path = pack/b/opt/vim-suda
	url = https://github.com/lambdalisue/vim-suda.git
[submodule "pack/b/opt/keyinput-delayer.vim"]
	path = pack/b/opt/keyinput-delayer.vim
	url = https://github.com/mikoto2000/keyinput-delayer.vim
[submodule "pack/denops/opt/denops"]
	path = pack/denops/opt/denops
	url = https://github.com/vim-denops/denops.vim.git
[submodule "pack/b/opt/ddt.vim"]
	path = pack/b/opt/ddt.vim
	url = https://github.com/Shougo/ddt.vim.git
[submodule "pack/b/opt/ddt-ui-terminal"]
	path = pack/b/opt/ddt-ui-terminal
	url = https://github.com/Shougo/ddt-ui-terminal.git
[submodule "pack/b/opt/ddt-ui-shell"]
	path = pack/b/opt/ddt-ui-shell
	url = https://github.com/Shougo/ddt-ui-shell.git
[submodule "pack/github/start/copilot.vim"]
	path = pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "pack/b/opt/vim-surround"]
	path = pack/b/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/test/opt/vim-themis"]
	path = pack/test/opt/vim-themis
	url = https://github.com/thinca/vim-themis.git
